
<mat-toolbar class="header mat-elevation-z8" color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>NgxMatCombobox examples</span>
</mat-toolbar>

<mat-drawer-container autosize>

  <mat-drawer #drawer mode="side" opened class="menu mat-elevation-z2">

    <mat-nav-list>
      <a mat-list-item href="#single-selection" (click)="scrollTo($event)">Single Selection</a>
      <a mat-list-item href="#single-selection-autocomplete" (click)="scrollTo($event)">Single Selection Autocomplete</a>
      <a mat-list-item href="#multiple-selection" (click)="scrollTo($event)">Multiple Selection</a>
    </mat-nav-list>

  </mat-drawer>

  <div #content class="content">

    <app-example-viewer
      id="single-selection"
      forComponent="app-single-selection"
      title="Single Selection">
      <app-single-selection></app-single-selection>
    </app-example-viewer>

    <app-example-viewer
      id="single-selection-autocomplete"
      forComponent="app-single-selection"
      title="Single Selection with Autocomplete">
      <app-single-selection></app-single-selection>
    </app-example-viewer>

    <app-example-viewer
      id="multiple-selection"
      forComponent="app-multiple-selection"
      title="Multiple Selection">
      <app-multiple-selection></app-multiple-selection>
    </app-example-viewer>

  </div>

</mat-drawer-container>

