:host {

  display: flex;
  flex-direction: column;
  gap: 48px;

  padding-top:48px;

  .header {
    position: fixed;
    z-index: 999;
    top: 0;
    display: flex;
    gap: 8px;
    h1 {
      flex: 1;
    }
  }

  .menu {
    width: 256px;
    position: fixed;
    z-index: 998;
    top: 0;
    left: 0;
    padding-top: 64px;
  }

  .content {
    padding: 64px 48px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

}
