<div class="example-actions">
  <button mat-flat-button color="primary" (click)="setRandomValue()">Set random value</button>
  <button mat-stroked-button (click)="clearValue()">Reset</button>
  <mat-slide-toggle (change)="readonly = !readonly" [checked]="readonly">Readonly</mat-slide-toggle>
  <mat-slide-toggle (change)="disabled = !disabled" [checked]="disabled">Disabled</mat-slide-toggle>
</div>

<div class="example-settings">
  <div>
    <code>[useValue]=</code> <mat-checkbox (change)="modelChanged()" [(ngModel)]="useValue"></mat-checkbox>
  </div>
  <div>
    <code>valueAccessor="id"</code>
  </div>
  <div>
    <code>labelAccessor="title"</code>
  </div>
  <div>
    <code>disabledAccessor="disabled"</code>
  </div>
</div>

<div class="example-model">
  <code>model = {{ model | json }}</code>
</div>

<mat-form-field appearance="outline" style="width: 480px;">
  <mat-label>Select movies...</mat-label>
  <ngx-mat-combobox
    autocomplete
    multiple
    [useValue]="useValue"
    [(ngModel)]="model"
    [readonly]="readonly"
    [disabled]="disabled"
    [options]="options"
    valueAccessor="id"
    labelAccessor="title"
    disabledAccessor="disabled"
    placeholder="Please select movies..."
  ></ngx-mat-combobox>
</mat-form-field>
