<div class="example-actions">
  <button mat-flat-button color="primary" (click)="setRandomValue()">Set random value</button>
  <button mat-stroked-button (click)="clearValue()">Reset</button>
  <mat-slide-toggle (change)="readonly = !readonly" [checked]="readonly">Readonly</mat-slide-toggle>
  <mat-slide-toggle (change)="disabled = !disabled" [checked]="disabled">Disabled</mat-slide-toggle>
</div>

<div class="example-model">
  <code>singleModel = {{ singleModel | json }}</code>
</div>

<mat-form-field appearance="outline" style="width: 480px;">
  <mat-label>Single selection</mat-label>
  <ngx-mat-combobox
    autocomplete
    fillInput
    [(ngModel)]="singleModel"
    [readonly]="readonly"
    [disabled]="disabled"
    [options]="options"
    valueAccessor="id"
    labelAccessor="title"
    placeholder="Please select movie..."
  ></ngx-mat-combobox>
</mat-form-field>

<div class="example-model">
  <code>multiModel = {{ multiModel | json }}</code>
</div>

<mat-form-field appearance="outline" style="width: 480px;">
  <mat-label>Multiple selection</mat-label>
  <ngx-mat-combobox
    autocomplete
    multiple
    [(ngModel)]="multiModel"
    [readonly]="readonly"
    [disabled]="disabled"
    [options]="options"
    valueAccessor="id"
    labelAccessor="title"
    placeholder="Please select movies..."
  ></ngx-mat-combobox>
</mat-form-field>

