/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use '@angular/material' as mat;

// select from https://nowzoo.github.io/ngx-highlight-js/
@import '~highlight.js/styles/github-dark.css';

html, body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  color: #666;
}

p {
  margin-bottom: 0;
}

