<div class="example-actions">
  <button mat-flat-button color="primary" (click)="setRandomValue()">Set random value</button>
  <button mat-stroked-button (click)="clearValue()">Reset</button>
  <mat-slide-toggle (change)="combo.readonly = !combo.readonly" [checked]="combo.readonly">Readonly</mat-slide-toggle>
  <mat-slide-toggle (change)="combo.disabled = !combo.disabled" [checked]="combo.disabled">Disabled</mat-slide-toggle>
</div>

<div class="example-settings">
  <div>
    <code>[noWrap]=</code> <mat-checkbox [(ngModel)]="noWrap"></mat-checkbox>
  </div>
  <div>
    <code>[maxValues]=</code> <input type="number" min="0" [(ngModel)]="maxValues"> // 0 = no limit; changes does not update actual selection or value model
  </div>
</div>

<div class="example-model">
  <code>model = {{ model | json }}</code>
</div>

<mat-form-field appearance="outline" style="width: 480px">
  <mat-label>Multiple selection</mat-label>
  <ngx-mat-combobox
    #combo
    multiple
    autocomplete
    [maxValues]="maxValues"
    [noWrap]="noWrap"
    [(ngModel)]="model"
    [options]="options"
    placeholder="Please select actors..."
  ></ngx-mat-combobox>
</mat-form-field>



