:host {

  display: flex;
  flex-direction: column;
  align-items: self-start;
  gap: 24px;

}

.custom-dropdown-display {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  span {
    white-space: nowrap;
  }
  input {
    min-width: 100px;
    flex: 1;
  }
}

.custom-dropdown-header {
  padding: 16px;
  border-bottom: solid 1px lightgrey;
}

.custom-dropdown-footer {
  padding: 16px;
  border-top: solid 1px lightgrey;
}
