<div class="example-actions">
  <button mat-flat-button color="primary" (click)="setRandomValue()">Set random value</button>
  <button mat-stroked-button (click)="clearValue()">Reset</button>
  <mat-slide-toggle (change)="combo.readonly = !combo.readonly" [checked]="combo.readonly">Readonly</mat-slide-toggle>
  <mat-slide-toggle (change)="combo.disabled = !combo.disabled" [checked]="combo.disabled">Disabled</mat-slide-toggle>
</div>

<div class="example-settings">
  <div>
    <code>[fillInput]=</code> <mat-checkbox [(ngModel)]="fillInput"></mat-checkbox>
  </div>
  <div>
    <code>[autocompleteMinChars]=</code> <input type="number" [(ngModel)]="autocompleteMinChars">
  </div>
  <div>
    <code>[autocompleteDebounceInterval]=</code> <input type="number" [(ngModel)]="autocompleteDebounceInterval">
  </div>
</div>

<div class="example-model">
  <code>model = {{ model | json }}</code>
</div>

<mat-form-field appearance="outline" style="width: 400px;">
  <mat-label>Single selection</mat-label>
  <ngx-mat-combobox
    #combo
    [fillInput]="fillInput"
    autocomplete
    [autocompleteMinChars]="autocompleteMinChars"
    [autocompleteDebounceInterval]="autocompleteDebounceInterval"
    [(ngModel)]="model"
    [options]="options"
    [placeholder]="placeholder"
  ></ngx-mat-combobox>
</mat-form-field>

