<div class="example-actions">
  <button mat-flat-button color="primary" (click)="setRandomValue()">Set random value</button>
  <button mat-stroked-button (click)="clearValue()">Reset</button>
  <mat-slide-toggle (change)="combo.readonly = !combo.readonly" [checked]="combo.readonly">Readonly</mat-slide-toggle>
  <mat-slide-toggle (change)="combo.disabled = !combo.disabled" [checked]="combo.disabled">Disabled</mat-slide-toggle>
</div>

<div class="example-settings">
  <div>
    <code>[autoOpen]=</code> <mat-checkbox [(ngModel)]="autoOpen"></mat-checkbox> // expand when combobox is focused (for key navigation)
  </div>
</div>

<div class="example-model">
  <code>model = {{ model | json }}</code>
</div>

<mat-form-field appearance="outline" style="width: 400px;">
  <mat-label>Single selection</mat-label>
  <ngx-mat-combobox
    #combo
    [autoOpen]="autoOpen"
    [(ngModel)]="model"
    [options]="options"
    [dropdownKeyNavTypeAhead]="false"
    [dropdownKeyNavHomeAndEnd]="false"
    placeholder="Select actor...">

    <ng-template ngxMatComboboxHeader>
      <div class="custom-autocomplete-header">
        <mat-icon>search</mat-icon>
        <input ngxMatComboboxInput placeholder="Search..." />
      </div>
    </ng-template>

  </ngx-mat-combobox>
</mat-form-field>

